* {
    margin: 0;
    padding: 0;
}

body {
   
    
}

nav {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #666;
}

nav ul {
    display: flex;
    list-style: none;
    align-items: center;
}

ul li {
    margin: 12px;
}

ul li a {
    color: black;
}